In [2]:
# slicing list
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
print(a[1:5])

['13b', 'aa1', 1.32, 22.1]

In [11]:
# combine list
a = [1.32, 22.1, 2.34]
b = ['1', '13b', 'aa1']
c = [3, 40, 100]

d = []
d.append(a)
d.append(c)
d.append(b)
print(d)

[[1.32, 22.1, 2.34], [3, 40, 100], ['1', '13b', 'aa1']]

In [12]:
# subsetting list
a = [
        [5, 9, 8],
        [0, 0, 6]
        ]
print(a[1][1:])

[0, 6]

In [15]:
p = [0, 5, 2, 10, 4, 9]

# ordered list
print(sorted(p, reverse=False))
# get max value of list
print(max(p))

[0, 2, 4, 5, 9, 10]
10

In [17]:
# combine list
a = [1, 3, 5]
b = [5, 1, 3]

b.extend(a)
print(b)

[5, 1, 3, 1, 3, 5]

In [18]:
a = [
        [5, 9, 8],
        [0, 0, 6]
        ]
# change list value
a[0][2] = 10
a[1][0] = 11
# change list value

print(a)

[[5, 9, 10], [11, 0, 6]]

In [19]:
areas = ["hallway", 11.25, "kitchen", 18.0,
            "chill zone", 20.0, "bedroom", 10.75,
            "bathroom", 10.50, "poolhouse", 24.5,
            "garage", 15.45]

# Hilangkan elemen yang bernilai "bathroom" dan 10.50 dalam satu statement code
areas.pop(8)
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [1]:
S = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#T = [x for x in S if x % 2 == 0]

T = []

for x in S:
    if x % 2 == 0:
        T.append(x)
        
print(T)

[0, 4, 16, 36, 64]

In [25]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo'}

# print semua key yang ada di objek europe
dict_key = []
for i in europe:
    dict_key.append(i)

print(dict_key)
# print nilai dari key franche
print(europe['france'])

['spain', 'france', 'germany', 'norway']
paris

In [32]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# tambahkan key itali ke objek dictionary dengan value roma
europe['itali'] = 'roma'

# cek apakah itali ada di dalam objek dictionary
if 'itali' in europe:
    val = True
print(val)

True

In [33]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
            'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
            'australia':'vienna'}

# update nilai ibukota german ke berlin
europe['germany'] = 'berlin'

# remove australia dari europa
europe.pop('australia')

print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [38]:
country = { 
            'spain': { 'capital':'madrid', 'population':46.77 },
            'france': { 'capital':'paris', 'population':66.03 },
            'germany': { 'capital':'berlin', 'population':80.62 },
            'norway': { 'capital':'oslo', 'population':5.084 } 
            }

# berapa populasi dari kota german?
print(country["germany"]["population"])

# update data baru, yaitu negara indonesia dengan capital jakarta dan poulasi 250
country['indonesia'] = {'capital': 'jakarta', 'population': 250}

print(country)

80.62
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'indonesia': {'capital': 'jakarta', 'population': 250}}

In [45]:
country = { 
            'spain': { 'capital':'madrid', 'population':46.77 },
            'france': { 'capital':'paris', 'population':66.03 },
            'germany': { 'capital':'berlin', 'population':80.62 },
            'norway': { 'capital':'oslo', 'population':5.084 },
            'indonesia' : {'capital':'jakarta', 'population':250}
            }

for i in country:
    print('Ibukota '+ i +' adalah '+ country[i]['capital'])

Ibukota spain adalah madrid
Ibukota france adalah paris
Ibukota germany adalah berlin
Ibukota norway adalah oslo
Ibukota indonesia adalah jakarta