In [1]:
# pendalaman list
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple') # menghitung berapa kali apple muncul

2

In [2]:
fruits.index('banana') # mencari berapa nilai index banana

3

In [3]:
fruits.index('banana', 4)  # mencari index banana tetapi dihitung dari nilai index = 4

6

In [4]:
fruits.reverse() # membalik isi list
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [5]:
fruits.append('grape') # menambahkan grape ke list sebagai item terbaru
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [6]:
fruits.sort() # menyusun isi list berdasarkan huruf awal
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [7]:
fruits.pop(0) # mengeluarkan isi list fruits dengan nilai index tertentu
fruits

['apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [8]:
fruits.clear() # mengosongkan isi list
fruits

[]

In [9]:
# dalam sebuah list yang dperlakukan sebagai stack berlaku last-in, first out. 
# ketika list digunakan sebagai stack, maka data terakhir berada pada stack paling atas
stack = [2, 4, 5]
# tambahkan isi stack dari paling atas
stack.append(6)
stack

[2, 4, 5, 6]

In [10]:
# keluarkan isi stack menggunakan pop
stack.pop() # jika tidak diisi nilai index, maka yang dikeluarkan adalah stack paling atas
stack

[2, 4, 5]

In [17]:
# gunakan list sebagai antrian Queues, first-in, first-out. manfaatkan library collections.deque
from collections import deque
queue = deque(["Arya", "umir", "rifki"])
queue.append("yusi")
queue

deque(['Arya', 'umir', 'rifki', 'yusi'])

In [20]:
queue.pop()
queue

deque(['umir', 'rifki'])

In [18]:
# manfaatkan fungsi deque
queue.popleft()

'Arya'

In [21]:
queue

deque(['umir', 'rifki'])

In [23]:
'''list comprehensions atau cara membuat sebuah list dengan ringkas 
dimana setiap elemen adalah hasil daru operasi pada setiap anggota sequnce atau perulangan atau membuat
subsequence dari elemen2nya yang memenuhi sebuah kondisi tertentu'''
# contoh kita buat list 
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
# ingat bahwa loop diatas membuat variabel x yang masih exist setelah loop
# kita juga bisa membuat list berikut
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
# atau lebih sederhananya seperti ini
# variabel = [kondisi x nilainya kuadrat, fungsi perulangan nilai x sampai 10 kali]
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
# contoh lain menggabungkan komponen list yang nilainya berbeda
comb = [(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]
comb

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [31]:
# contoh diatas, ekivalen denga
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [39]:
#contoh lain
vec = [-4, -2, 0, 2, 4]
# membuat list baru yang nilainya 2 kali
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [37]:
# filter nilai negatif
[x for x in vec if x >= 0]

[0, 2, 4]

In [40]:
# ingat tuples harus dalam kurung ()
[(x, x*2) for x in range(6)]

[(0, 0), (1, 2), (2, 4), (3, 6), (4, 8), (5, 10)]

In [42]:
# menggunakan sebuah method pada setiap elemen, hapus spasi
freshfuits = [" anggur", " kelapa", " jambu"]
[fruits.strip() for fruits in freshfuits]

['anggur', 'kelapa', 'jambu']

In [44]:
# gabungkan list complex menjadi sebuah list dengan nested for atau dua for
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for element in vec for num in element]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
# ekivalen dengan
new_vec = []
for element in vec:
    for num in element:
        new_vec.append(num)

new_vec

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# list comprehension pada complex expression dan nested function
from math import pi
[str(round(pi, i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [49]:
# nested list comprehension
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [50]:
# contoh diatas ekivalen dengan
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [51]:
# juga ekivalen dengan cara biasa
transposed = []
for i in range(4):
    # ambil dulu 3 line dari list complex
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [52]:
# atau agar lebih cepar kita manfaatkan built-in function
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [53]:
# del statement ,  menghapus item dari sebuah list
# prinsipnya gunakan index elemen list
a = [1, 5, 7, 444, 20]
del a[1]
a

[1, 7, 444, 20]

In [54]:
# dengan range
del a[1:2]
a

[1, 444, 20]

In [56]:
#kosongkan a
del a[:]
a

[]

In [57]:
# hapus a
del a

In [58]:
# tuple, object dalam tuple boleh memeiliki elemen yang sama
# dengan object  lain. elemen dalam tuple tidak bisa diganti
t = (123, 25353, 'hello!')
t

(123, 25353, 'hello!')

In [59]:
# elemen tuple juga bisa diipanggil dengan indexnya
t[1]

25353

In [60]:
# nested tuple, tuple dalam tuple
u = t, (1 , 4, 8)
u

((123, 25353, 'hello!'), (1, 4, 8))

In [62]:
tup = ([1,2,3], [3,2,1])
tup

(1, 1, 2, 3)

In [75]:
# set, unorder, tidak akan bisa teratur, dan tidak boleh ada duplikat elemen
basket = {'apel', 'mangga', 'jeruk', 'anggur'}
print(basket)

{'apel', 'anggur', 'mangga', 'jeruk'}

In [76]:
# cek isi set
'apel' in basket

True

In [77]:
'duren' in basket

False

In [78]:
# cek bahwa memang tidak boleh ada duplikat
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [79]:
a - b #nilai a yang tidak ada di b

{'b', 'd', 'r'}

In [80]:
a | b # semua huruf yang ada di a maupun b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [81]:
a & b #gabungan huruf yang ada di a dan huruf yang ada di b, irisan

{'a', 'c'}

In [82]:
a ^ b #huruf yang ada di a maupun b, tapi tidak sama

{'b', 'd', 'l', 'm', 'r', 'z'}

In [1]:
# comprehension set
a = {x for x in 'abracadabra' if x not in 'abc'} # cek huruf yang ada dalam set selain abc
a

{'d', 'r'}

In [2]:
# dictionaries
# harus mempunyai {'keys' : values pairs}
tel = {'jack': 4098, 'sape': 2363}
tel

{'jack': 4098, 'sape': 2363}

In [3]:
# menambahkan isi dictionaries secara langsung
tel['guido'] = 6374
tel

{'jack': 4098, 'sape': 2363, 'guido': 6374}

In [4]:
# menampilkan value
tel['guido']

6374

In [5]:
# menghapus pasangan key dan value pair
del tel['sape']
tel

{'jack': 4098, 'guido': 6374}

In [6]:
# konversi menjadi list, value pair tidak akan ditampilkan
list(tel)

['jack', 'guido']

In [8]:
# soreting isi
sorted(tel)

['guido', 'jack']

In [9]:
# cek isi dictionari
'guido' in tel # gunakan IN atau NOT IN

True

In [10]:
# membuat sebuah dictionaries, dari sequense of key-value pair
dict([('arya', 90), ('rijal', 72)])

{'arya': 90, 'rijal': 72}

In [11]:
# menggunakan comprehension
{x: x**2 for x in (2,3,4)}

{2: 4, 3: 9, 4: 16}

In [12]:
# looping technnique
# dalam dictionaries
knight = {'gal': 'the pure', 'robin': 'the brave'}
for key, value_pair in knight.items():
    print(key, value_pair)

gal the pure
robin the brave

In [13]:
# looping untuk sebuah sequense, menggunakan fungsi enumerate()
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [14]:
# loop melalui 2 atau lebih sequense
question = ['name', 'quest', 'favorit color']
answer = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(question, answer):
    print('what is your {0}? It is {1}'.format(q,a))

what is your name? It is lancelot
what is your quest? It is the holy grail
what is your favorit color? It is blue

In [15]:
# for loop dengan reversed() function
# range(1,10,2) -> mulai dari 1, berakhir sebelum 10, denga interval 2
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [16]:
# fungsi lain juga berlaku untuk list
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [22]:
# ketika dibutuhkan membuat atau mengubah list ketika looping, lebih mudah dan 
# lebih aman membuat list baru
import math
raw_data = [56.2, float('NaN'), 51.9, 55.3, 52.5, float('NaN'), 38.2]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.9, 55.3, 52.5, 38.2]